/* Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove list styles on ul, ol elements with a list role */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  line-height: 1.5;

  background-color: #ffeef7;
  background-image: radial-gradient(
    circle,
    rgba(255, 238, 247, 1) 0%,
    rgba(253, 210, 232, 1) 50%,
    rgba(255, 183, 221, 1) 100%
  );
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

@font-face {
  font-family: "MGF Pinlock";
  src:
    url("/src/assets/fonts/MGFPinlock.woff") format("woff"),
    url("/src/assets/fonts/MGFPinlock.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "MGF Pinlock";

  height: 100vh;
  height: 100dvh;
}
