.container {
  position: relative;
  z-index: 1000;
}

.text {
  padding-inline: 10px;
  padding-block: 20px;

  text-align: center;
  font-size: 4rem;
  line-height: 1;
  color: #ff3978;

  user-select: none;
}

.buttons {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.yes {
  padding: 10px 35px;
  font-size: 1.5rem;
  border-radius: 12px;
  border: none;
  background: #c00000;
  color: white;
  user-select: none;
}

.no {
  padding: 10px 35px;
  font-size: 1.5rem;
  border-radius: 12px;
  border: none;
  background: #ff8896;
  color: white;
  user-select: none;
}
